<p>
  This project started as a tool to support in migrating from a C++ project closely coupled with GUI to a Python project that is loosely communicating with it's GUI.
  <br>
  <br>

  Making use of the web technology in making high quality looking apps with ease.
  <br>
  Along the way, this application was used as a PoC for the technology that will be used after migration.
  <br>
  <br>

  As the other project would be a bit larger, and it's better to have the technology proven before taking the way.
  <br>
  <br>

  According to:
  <br>
  <code>
  if (old project) use new technology;
  <br>
  if (new project) use old technology;
  </code>
  <br>
  <br>

  Thanks to Allah.
</p>
