<nav class="navbar navbar-dark bg-dark mb-5 sticky-top">
  <a class="navbar-brand" [routerLink]="['/']">Langformy</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['proceed']">Proceed</a>
      <a class="nav-item nav-link active" [routerLink]="['transform']">Transform</a>
      <a class="nav-item nav-link" [routerLink]="['about']">About</a>
      <a class="nav-item nav-link" [routerLink]="['contact']">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/Walid-Shouman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/@walid_shouman" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>
