<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  {{title}} is still in alpha development ...
</div>

  <h2 class="mat-h2">Set Settings and Run:</h2>
<div id="app"></div>
<br>
<div class="settings-container">
  <round-progress [current]="current" [max]="max"></round-progress>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Input Dir -->
  <section class="input-dir-section">
    <mat-checkbox class="setting-check" matTooltip="Overwrite Input Dir" type="checkbox" id="input_dir_check" [(ngModel)]="inputDirEnabled" MatCheckboxChange></mat-checkbox>

    <mat-form-field class="setting">
      <input matInput id="input_dir" placeholder="Input Dir" value="/home/walid/shared_on_wifi/xml/" [disabled]="!inputDirEnabled">
      <mat-hint align="start">Dir where XML files exist: eg: /home/walid/shared_on_wifi/xml/</mat-hint>
    </mat-form-field>
  </section>
  <br>

  <!-- Input File -->
  <section class="input-file-section">
    <mat-checkbox class="setting-check" matTooltip="Overwrite Input File" type="checkbox" id="input_file_check" [(ngModel)]="inputFileEnabled" [disabled]="inputDirEnabled"></mat-checkbox>

    <mat-form-field class="setting">
      <input matInput id="input_file" placeholder="Input File" value="/home/walid/shared_on_wifi/xml/classEntry.xml" [disabled]="(!inputFileEnabled)||inputDirEnabled">
      <mat-hint align="start">XML file: eg: /home/walid/shared_on_wifi/xml/classEntry.xml</mat-hint>
    </mat-form-field>
  </section>
  <br>

  <!-- Namespace Placeholder -->
  <section class="setting-checkbox">
    <mat-checkbox class="setting-check" matTooltip="Overwrite Namespace Placeholder" type="checkbox" id="namespace_placeholder_check" [(ngModel)]="namespacePlaceholderEnabled"></mat-checkbox>

    <mat-form-field class="setting">
      <input matInput id="namespace_placeholder" placeholder="Namespace placeholder" value="__ns__" [disabled]="!namespacePlaceholderEnabled">
      <mat-hint align="start">eg: __ns__</mat-hint>
    </mat-form-field>
  </section>
  <br>

  <!-- Output Directory -->
  <section class="setting-checkbox">
    <mat-checkbox class="setting-check" matTooltip="Overwrite Output Dir" type="checkbox" id="output_dir_check" [(ngModel)]="outputDirEnabled"></mat-checkbox>

    <mat-form-field class="setting">
      <input matInput id="output_dir" placeholder="Output Dir" value="generated/" [disabled]="!outputDirEnabled">
      <mat-hint align="start">Dir for generated files: eg: generated/ </mat-hint>
    </mat-form-field>
  </section>
  <br>
  <button mat-button matTooltip="Run Langform" id="run_langform" color="primary">Run</button>
  <button mat-button matTooltip="Run Langform" id="types_script_run_langform_wip" color="primary" (click)='run_langform()'>New Run(WIP)</button>
</div>

<!-- <h3>Links</h3>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
 -->
